@include media-1154 {
    .nav {
        &_hamburger {
            cursor: pointer;
            position: absolute;
            right: 5%;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            width: 30px;
            &_span {
                height: 2px;
                width: 100%;
                display: block;
                margin-top: 1px;
                margin-bottom: 5px;
                background-color: set-text-color($primary-color);
                position: relative;
                @include transition-ease;
            }
        }
        &_menu {
            position: fixed;
            background: $primary-color;
            height: 100vh;
            max-width: 80%;
            width: 100%;
            flex-direction: column;
            padding: 0;
            right: -80%;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            align-items: center;
            @include transition-ease;
            
            &_item {
                margin: 15px;
            }
        }
    }
    .nav_menu.active {
        right: 0%;
        &::before {
            content: ' ';
            background: $primary-color;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -80%;
            width: 80%;
            height: 100%;
            opacity: 0.6;
            }
    }
    .nav_hamburger.open span:first-of-type {
        transform: rotate(1125deg);
        transition: all 800ms ease;
        background-color: $secondary-color;
    }
    
    .nav_hamburger.open span:nth-child(2) {
        opacity: 0;
        visibility: hidden;
        background-color: $secondary-color;
    }
    
    .nav_hamburger.open span:last-of-type {
        transform: rotate(1395deg);
        top: -13px;
        transition: all 800ms ease;
        background-color: $secondary-color;
    }
    .contact {
        &_footer {
            &_logo {
                height: 100px;
            }
            &_menu {
                font-size: 12px;
            }
            &_icons {
                font-size: 12px;
            }
        }
    }
}

@include media-850 {
    .nav {
        &_icons {
            font-size: 10px;
            left: 1%;
            max-width: 85%;
        }
    }
    .about {
        &_myself {
            font-size: 14px;
        }
        &_jobs {
            margin: 16px;
            padding: 12px;
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            border-bottom: 2px solid $secondary-color;
            h1, h2, h3, h4, h5 {
                margin-bottom: 4px;
            }
            &__job {
                &__date {
                    font-size: 18px;
                }
                h3 {
                    font-size: 16px;
                }
                h5 {
                    font-size: 12px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
    }
    .skills {
        &_content {
            max-width: 90%;
            display: flex;
            h2 {
                font-size: 16px;
                margin-top: 0;
            }
            h3 {
                font-size: 14px;
                margin-top: 2px;
                margin-bottom: 20px;
            }
            margin-top: 40px;
            .responsive_image {
                height: 120px;
                width: 150px;
                margin: 0;
            }
            &_languages {
                padding-right: 5;
               img {
                width: 60px;
               }
            }
            &_tools {
                padding-left: 5;
                img {
                    width: 60px;
                }
            }
        }
    }
    .projects {
        &_main {
            &_law {
                width: 300px;
                margin-right: 5px;
                font-size: 16px;
            }
            &_food {
                width: 300px;
                margin-left: 5px;
                font-size: 16px;
            }
            img {
                width: 250px;
                height: 250px;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
    }
    .contact {
        &_me {
            margin-top: 20px;
            &_mail {
                &_form {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    &_textbox {
                        width: 250%;
                        height: 40px;
                        padding: 3px;
                        font-size: 15px;
                        margin-bottom: 15px;
                        &:first-child{
                            margin-right: 0px;
                        }
                    }
                    &_textarea {
                        height: 120px;
                        margin-bottom: 15px;
                        font-size: 15px;
                        padding: 3px;
                        width: 250%;
                    }
                    &_btn {
                        width: 80px;
                        height: 25px;
                        font-size: 16px;
                        font-weight: 600;
                        text-align: center;
                        align-items: center;
                        @include transition-ease;
                        background-color: $secondary-color;
                    }
                }
            }
        }
        &_footer {
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            &_logo {
                height: 75px;
            }
            &_menu {
                font-size: 11px;
                display: inline;
                padding: 0px;
                width: 90%;
                text-align: center;
                &_items {
                    display: inline;
                    &_link {
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
                &_quote {
                    font-size: 11px;
                    width: 200px;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 20px;
                    h4 {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }

                }
            }
            &_icons {
                font-size: 8px;
            }
        }
    }
}

@include media-555 {
    .nav {
        &_icons {
            font-size: 8px;
            left: 1%;
            max-width: 85%;
            display: flex;
            flex-direction: column;
        }
        &_logo {
            height: 55px;
        }
    }
    .home {
        &__name {
            font-size: 50px;
        }
        h2 {
            font-size: 19px;
        }
        &_icons {
            margin-bottom: 5px;
            font-size: 14px;
            bottom: 0;
        }
    }
    .about {
        &_myself {
            font-size: 12px;
        }
        &_jobs {
            justify-content: center;
            margin-left: auto;
            margin-right: auto;
            padding: 5px;
            border-bottom: 2px solid $secondary-color;
            h1, h2, h3, h4, h5 {
                margin-bottom: 2px;
            }
            &__job {
                &__date {
                    font-size: 14px;
                }
                h3 {
                    font-size: 13px;
                }
                h5 {
                    font-size: 11px;
                }
                p {
                    font-size: 12px;
                }
            }
        }
    }
    .skills {
        &_content {
            max-width: 90%;
            display: flex;
            h2 {
                font-size: 14px;
                margin-top: 0;

            }
            h3 {
                font-size: 12px;
                margin-top: 2px;
                margin-bottom: 20px;
            }
            margin-top: 40px;
            .responsive_image {
                height: 40px;
                width: 50px;
                margin: 0;
            }
            &_languages {
                padding-right: 5;
               img {
                width: 30px;
               }
            }
            &_tools {
                padding-left: 5;
                img {
                    width: 30px;
                }
            }
        }
    }
    .projects {
        &_main {
            &_law {
                width: 200px;
                margin-right: 5px;
                font-size: 14px;
            }
            &_food {
                width: 200px;
                margin-left: 5px;
                font-size: 14px;
            }
            img {
                width: 100px;
                height: 100px;
                margin-top: 20px;
                margin-bottom: 10px;
            }
        }
    }
    .contact {
        &_me {
            margin-top: 20px;
            &_mail {
                &_form {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    &_textbox {
                        width: 150%;
                        height: 30px;
                        padding: 3px;
                        font-size: 12px;
                        margin-bottom: 10px;
                        &:first-child{
                            margin-right: 0px;
                        }
                    }
                    &_textarea {
                        height: 100px;
                        margin-bottom: 10px;
                        font-size: 12px;
                        padding: 3px;
                        width: 150%;
                    }
                    &_btn {
                        width: 60px;
                        height: 17px;
                        font-size: 12px;
                        font-weight: 600;
                        text-align: center;
                        align-items: center;
                        @include transition-ease;
                        background-color: $secondary-color;
                    }
                }
            }
        }
        &_footer {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            &_logo {
                height: 70px;
                display: none;
            }
            &_menu {
                font-size: 9px;
                display: inline;
                padding: 0px;
                width: 90%;
                text-align: center;
                &_items {
                    display: inline;
                    margin-left: 5px;
                    margin-right: 5px;
                    &_link {
                        margin: 0;
                    }
                }
                &_quote {
                    font-size: 7px;
                    
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 10px;
                    h4 {
                        margin-top: 5px;
                        margin-bottom: 10px;
                    }

                }
            }
            &_icons {
                flex-direction: row;
                font-size: 7px;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                &_link {
                    margin-bottom: 5px;
                }
            }
        }
    }
}